.social {
    display: flex;
    gap: 12px;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    background: lightgray;       
    align-items: center;
    justify-content: center;
    font-size: large;
  }
.circle i {
    color: black;
    font-size: 36px;
  }
