.content {
    /* display: inline-block; */
    box-sizing: border-box;
    background-color: aqua;
    /* text-align: center; */
    padding: 20px 60px;
    border: dotted 2px black;
    /* margin: 50%; */
    /* justify-content: center; */
}

.box-padding {
    background-color: lightgreen;
    /* text-align: center; */
    border: dotted 2px black;
    padding: 40px 80px;
    /* display: inline-block; */
}

.box-border {
    background-color: lightcoral;
    /* text-align: center; */
    padding: 60px 120px;
    /* display: inline-block; */
    border: dotted 2px black;
}

.box-margin {
    background-color: darkorange;
    padding: 80px 140px;
    display: inline-block;
    border: dotted 2px black;
    position: absolute;
    top: 10%;                 
    left: 50%;              
    transform: translateX(-50%); 
}