html {
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
    margin-left: 8px;
    margin-right: 8px;
}

p, ol, ul {
    padding-bottom: 1.5rem;
}

ol, ul {
    padding-left: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-family: Georgia, serif;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: solid 2px black;
    margin-bottom: 16px;
}
th {
    background-color: gray;
}

th, td {
    padding: 30px;
    border: solid 2px black;
    padding: 4px;
}

.colored {
    background-color: lightgray ;
}

blockquote {
    border-left: 4px solid #333;
    padding-left: 1rem;
    margin: 20px;
    font-style: italic;
    background-color: lightgray;
}

blockquote footer {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
}