* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: lightgray;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.frame {
    max-width: 300px;
    aspect-ratio: 3 / 2;
    border: 6px solid black;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.imgContainer {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.img {
    width: 100%;
}

.footer {
    color: darkcyan;
    /* background-color: blue; */
}



