.box-one {
    display: inline-block;
    padding: 16px;
    border: solid black 2px;
    margin: 20px;
}

.box-two {
    border: solid black 2px;
    margin: 10px 30px 20px 40px;
}

.box-three {
    border: solid black 2px;
    margin: 20px;
}