html {
    background-color: lightgray;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

.article {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 4rem auto;
}


