.box-one {
    border: solid black 4px;
    border-radius: 16px;
    margin: 4px;
}

.box-two {
    border: dashed #333 3px;
    border-radius: 16px;
    margin: 4px;
}

.box-three {
    border: dotted green 2px;
    border-radius: 16px;
    margin: 4px;
}

.box-four {
    border-top: dashed red 3px;
    border-right: solid blue 5px;
    border-bottom: dotted purple 3px;
    border-left: solid green 5px;
    border-radius: 16px;
    margin: 4px;
}
