.flex-container {
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
}

.flex-container .flex-item {
    padding: 20px;
    border: 2px black solid;
    background-color: lightgray;
}

.center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}